body{
    /* background-color: rgb(0, 135, 81); */
    background-color: white;
    font-family: Helvetica;
}

h1{
    text-align: center;
    font-size: 50px;
}
h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 5px;
    /* color: RGB(226, 35, 26); */
    color: rgb(0, 135, 81);
}

.payment-h2{
    margin-top: 110px;
}

td, th{
    font-size: 20px;
    /* border: 1px solid black; */
    padding: 10px;
    padding-left: 100px;
    font-weight: bold;
}

button{ 
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;

    background-color: RGB(245, 132, 38);

    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 16px;

    transition: background-color, color .15s;
}

.title{
    color: rgb(0, 135, 81);
    font-size: 80px;
}

.item-text{
    text-align: center;
}

.meal-table,
.beverages-table,
.snacks-table,
.payout-table{
    border: none;
    border-radius: 10px;
    /* border-color: RGB(245, 132, 38); */
    border-width: 3px;
    background-color: white;
    width: 800px;
    margin: auto;
    margin-bottom: 30px;

    border-spacing: 0;
    table-layout: fixed;
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    transition: width 0.4s, background-color 0.4s;
    
}

.payout-table{
    margin-top: 80px;
}

table:hover{
    width: 810px;
    background-color: rgba(0, 135, 81, 0.159);
}

button:hover{
    background-color: rgb(255, 224, 199);
    color: RGB(245, 132, 38);
}

button:active{
    opacity: 0.8;
}